<div>
  <h1>
    Welcome to {{ title }}!
  </h1>

  <h2>
    1) Scegli un disco dall'elenco
  </h2>
  <!--Questo codice serve a generare una comb box. selectedOption contiene il titolo della canzone
  selezionata poichè in [value] abbiamo scelto di usare il titolo dell'album -->
  <select [(ngModel)]="selectedOption"  (change)="onChange()">
    <option [value]="booking.name" *ngFor="let booking of bookings"> {{booking.name}}</option>
  </select> <br>

  <!--Questo codice stampa il titolo dell'album selezionato
  Serve solo a scopo di debug, puoi eliminarlo dall'applicazione finale-->
  {{selectedOption}}

  <hr>

  <!--Questo codice visualizza il testo 2 e la form solo se selectedOption è definito (diverso da undefined)-->
  <div *ngIf="selectedOption">
    <h3>
      2) Ora seleziona una canzone da aggiungere all'album selezionato
    </h3>


    <!--Premendo prenota si inviano le informazioni sulla canzone al metodo onClick-->
    <form>
      <input type="date" #f> : da <br>
      <input type="date" #t> : a <br>
      <input #n> : nome <br>
      <input #s> : cognome <br>
      <button (click)="onClick(f,t,n,s)"> aggiungi prenotazione </button>
    </form>
  </div>


