<div>
  <h1>
    Welcome to {{ title }}!
  </h1>

  <select [(ngModel)]="selectedOption"  (change)="onChange()">
    <option [value]="booking.name" *ngFor="let booking of bookings"> {{booking.name}}</option>
  </select> <br>


  {{selectedOption}}

  <hr>


  <div *ngIf="selectedOption">
    <form>
      <input type="date" #f> : da <br>
      <input type="date" #t> : a <br>
      <input #n> : nome <br>
      <input #s> : cognome <br>
      <button (click)="onClick(f,t,n,s)"> aggiungi prenotazione </button>
    </form>
  </div>


